header {
    background-color: cadetblue;
    height: 100px;
}
ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-left: 500px;
}
h1 {
    color: rgb(147, 83, 83);
    height: 40px;
    width: 200px;
}
img {
    height: 300px;
    width: 300px;
}
footer {
    background-color: cadetblue;
}